.formulario {
    display: flex;
    justify-content: center;
    margin: 8rem 0;
}

.formulario form {
    max-width: 80%;
    background-color: #f2f2f2;
    border-radius: 2rem;
    padding: 3.6rem 6.4rem;
    box-shadow: .8rem .8rem 1.6rem rgba(0, 0, 0, 0.08);
}

.formulario h2 {
    font-size: 2.4rem;
    text-align: center;
}